h1 {
    text-align: center;
}

h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.articulos {
    display: flex;
    flex-wrap: wrap;
}

article {
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

article h3 {
    margin-top: 0;
}

article p {
    margin-bottom: 10px;
}

article a {
    text-decoration: none;
    color: #000;
}

article a:hover {
    color: #666;
}
